[rule "open"]
	event-type = patchset-created
	action = add-velocity-comment inline Change ${its.formatLink($changeUrl)} is created.
	action = Start Work
	action = log-event error
[rule "resolve"]
	event-type = comment-added
	approval-Code-Review = 2
	action = add-velocity-comment inline Change ${its.formatLink($changeUrl)} is reviewed, waiting for merging.
	action = Code Review
	action = log-event error
[rule "merged"]
	event-type = change-merged
	action = add-velocity-comment inline Change ${its.formatLink($changeUrl)} is merged.
	action = Approved
	action = log-event error
[rule "abandoned"]
	event-type = change-abandoned
	action = add-velocity-comment inline Change ${its.formatLink($changeUrl)} is abandoned.
	action = Send Back
	action = log-event error
