# <gerrit_home>/etc/gerrit.config

[gerrit]
	basePath = git
	serverId = <server id>
	canonicalWebUrl = http://<FQDN>:<PORT>/
[database]
	type = mysql
	hostname = localhost
	database = <db>
	username = <pwd>
[index]
	type = LUCENE
[auth]
	type = LDAP
 	emailFormat = {0}@example.com
[ldap]
        server = ldaps://<gerrit_server>.example.com

        accountBase = ou=example,dc=example,dc=com
        accountPattern = (&(objectclass=*)(sAMAccountName=${username}))
        accountFullName = displayName
        accountEmailAddress = mail

        userName = <ldap bind user>
        password = <pwd>

        groupBase = ou=example,dc=example,dc=com
        #groupMemberPattern = (&(objectClass=group)(member=${dn}))

[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
        smtpUser = example@gmail.com
        smtpPass = <pwd>
        smtpEncryption = tls
[container]
	user = gerrit2
	javaHome = <java home>
	heapLimit = 7g
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8081/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
