# <gerrit_home>/etc/gerrit.config

[gerrit]
	basePath = git
	serverId = <server id>
	canonicalWebUrl = http://<FQDN>:<PORT>/
[database]
	type = mysql
	hostname = localhost
	database = <db>
	username = <pwd>
	dataSourceInterceptorClass = com.googlesource.gerrit.plugins.javamelody.MonitoringDataSourceInterceptor
	poolLimit = 350
	poolMaxIdle = 16
#[index]
#	type = LUCENE
[cache]
        directory = cache
[auth]
	type = LDAP
 	emailFormat = {0}@example.com
[ldap]
        server = ldaps://<gerrit_server>.example.com

        accountBase = ou=example,dc=example,dc=com
        accountPattern = (&(objectclass=*)(sAMAccountName=${username}))
        accountFullName = displayName
        accountEmailAddress = mail

        userName = <ldap bind user>
        password = <pwd>

        groupBase = ou=example,dc=example,dc=com
        #groupMemberPattern = (&(objectClass=group)(member=${dn}))

[receive]
	timeout = 2
	enableSignedPush = false
[sendemail]
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
        smtpUser = example@gmail.com
        smtpPass = <pwd>
        smtpEncryption = tls
[container]
	user = gerrit2
	javaHome = <java home>
	heapLimit = 96g
	allowTopMenu = false
[sshd]
	listenAddress = *:29418
	enableCompression = true
	backend = MINA
	threads = 128
	batchThreads = 64
	commandStartThreads = 8
[httpd]
	listenUrl = http://*:8081/
	maxThreads = 100
	maxQueued = 200
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[core]
        packedGitLimit = 32g
        packedGitWindowSize = 32k
        packedGitOpenFiles = 8192 
[gitweb]
        type = gitweb
        cgi = /usr/share/gitweb/gitweb.cgi
[pack]
        threads=16 
        windowMemory=16g
[gc]
        aggressive = true
        startTime = 03:00 
        interval = 1 day 
[transfer]
        timeout = 360
[plugin "its-jira"]
        association = MANDATORY
[commentlink "its-jira"]
        match = ([A-Z]+-[0-9]+)
        html = <a href=\"https://<jira_url>/browse/$1\">$1</a>
