[remote "slave"]
        url = gerrit2@<slave_host>:/home/gerrit2/android/git/${name}.git
        push = +refs/*:refs/*
        threads = 4
        mirror = true
        replicationDelay = 3
        timeout = 120
        replicateProjectDeletions = true
        replicatePermissions = true
        createMissingRepositories = true
        rescheduleDelay = 3
